<div class="containareon">
  <h2>Edit Pokemon</h2>

  <form id="update_pokemon" action="/pokemon/<%= @poke.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
      <label>Name: </label>
      <input type="text" name="poke[name]" value="<%= @poke.name %>">
    </div>

    <div>
      <label>Type: </label>
      <input type="text" name="poke[poke_type]" value="<%= @poke.poke_type %>">
    <div>

    <div>
      <label>CP: </label>
      <input type="text" name="poke[cp]" value="<%= @poke.cp %>">
    </div>

    <div>
      <label>Image URL: </label>
      <input type="text" name="poke[img_url]" value="<%= @poke.img_url %>">
    <div>

    <h2><a
        href="javascript:{}"
        onclick="document.getElementById('update_pokemon').submit();"
        type="submit">(Update)
    </a></h2>
    <a href="/pokemon/<%= @poke.id %>">(Go Back)</a>
  </form>
</div>
