<div class="containareon">
  <h2>Edit Trainer</h2>

  <form id="update_trainer" action="/trainers/<%= @trainer.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
      <label>Name: </label>
      <input type="text" name="trainer[name]" value="<%= @trainer.name %>">
    </div>

    <div>
      <label >Level: </label>
      <input type="text" name="trainer[level]" value="<%= @trainer.level %>">
    </div>

    <div>
      <label>Team_ID: </label>
      <input type="text" name="trainer[team_id]" value="<%= @trainer.team_id %>">
    </div>

    <div>
      <label>Image URL: </label>
      <input type="text" name="trainer[img_url]" value="<%= @trainer.img_url %>">
    </div>
  
    <h2><a
        href="javascript:{}"
        onclick="document.getElementById('update_trainer').submit();"
        type="submit">(Update)
    </a></h2>
  </form>

  <a href="/trainers/<%= @trainer.id %>">(Go Back)</a>
</div>
